:root {
  --base-color: #ffffff;
  --base-accent-dark: #d9d9d9;
  --base-accent-light: #efefef;
  --scrollbar-color: #a9a9a9;
  --text-color: #000000;
  --text-accent: #353535;
  --green: #4bde26;
  --orange: #fcad04;
  --red: #fc0404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: var(--base-color);
  color: var(--text-color);
  overflow: hidden;
}

h1 {
  font-weight: 700;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-items: center;
}

.dynamic-panel {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dp-top {
  align-items: start;
}

.side-panel {
  width: 40vw;
  min-width: 600px;
  height: 100vh;
  background-color: var(--base-accent-dark);
  border-radius: 0 1.2rem 1.2rem 0;
  padding: 1.2rem 1.8rem 1.2rem 3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
}
/*
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
  opacity: 1;
}

.side-panel .top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.side-panel .top h1 .link {
  text-decoration: inherit;
  color: inherit;
}

button {
  background-color: var(--green);
  font-size: 1.7rem;
  padding: 15px 25px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-wrap: nowrap;
}

button:disabled {
  cursor: not-allowed;
}
.secondary-button {
  background-color: var(--base-accent-dark);
}

.side-panel button:hover {
  cursor: pointer;
}

hr {
  width: 100%;
  margin: 1.2rem 0;
  outline: none;
  border: 1px solid #909090;
}

.task-list {
  max-height: 85vh;
  overflow: scroll;
  margin: 0 -10px;
  padding-left: 10px;
}

.task-card {
  background-color: var(--base-accent-light);
  border-radius: 1.2rem;
  padding: 1.2rem 1.8rem 0.6rem 1.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.2rem;
  margin: 1.2rem 0;
  cursor: pointer;
  width: 99%;
  min-width: 500px;
}

.task-card .details p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 550;
  margin-top: 5px;
}

.task-card .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
  color: var(--text-accent);
}

.task-card .info svg {
  vertical-align: middle;
  margin-right: 4px;
}

.status {
  background-color: var(--base-accent-dark);
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.task-card.active {
  background-color: var(--base-color);
  outline: 3px solid var(--green);
}

.message {
  font-weight: 400;
  font-style: italic;
}

form {
  width: 100%;
  height: 100%;
  padding: 10%;
}

form input,
form textarea {
  background-color: var(--base-accent-dark);
  outline: none;
  border: none;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

form h1 {
  display: block;
  margin-bottom: 1.2rem;
}

form p {
  font-size: 1.8rem;
  display: inline-block;
  font-weight: 500;
}

form .title-input {
  width: 80%;
  max-width: 400px;
}

form textarea {
  width: 100%;
}

form span,
form textarea,
form input {
  display: block;
  resize: none;
}

form .inline {
  display: inline;
}

form .time-input input {
  display: inline;
  width: 4vw;
  padding: 0.3vw;
}

form span {
  margin: 2.5vh 0;
}

form textarea,
form input {
  padding: 0.6rem;
  color: var(--text-color);
}

form .secondary-button {
  margin-left: 2vw;
  color: var(--text-accent);
}

/* //////////////////////////////////////////////////// */

.formError {
  background-color: red;
  position: fixed;
  top: 5vh;
  left: 65vw;
  width: 30vw;
  height: 10vh;
  border-radius: 5px;
  padding: 1.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-items: center;
}

.formError svg {
  margin: 0 1vw;
}

.formError h1 {
  font-size: 1.6rem;
}

.formError p {
  font-size: 1.1rem;
}

/* ////////////////////////////////////////////////////////////// */

.task-page {
  width: 100%;
  margin: 1.3vw 10% 4vw 10%;
  padding: 0.2rem;
  position: relative;
  max-height: 100vh;
}

.task-error {
  margin: auto 0;
}

.task-error svg {
  vertical-align: middle;
  width: auto;
  margin-right: 2.5vw;
}

.task-page .top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.task-page .top p {
  font-weight: 550;
  /* color: var(--text-accent); */
}

.task-body {
  margin: 2.5rem;
}

.task-title-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.task-title-bar h1 {
  font-size: 2.8rem;
  margin-top: 0.6rem;
}

.task-details {
  margin-top: 1.85rem;
  margin-right: 10%;
}

.task-details p:nth-child(1) {
  color: var(--text-accent);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
.task-details p:nth-child(2) {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.4rem;
  word-break: break-all;
  max-height: 45vh;

  overflow: scroll;
}

.task-stats {
  margin: 0.6rem 0 1.8rem 0;
  font-size: 1.3rem;
  color: var(--text-accent);
  font-weight: 550;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 1.2rem;
}

.task-stats svg {
  vertical-align: middle;
  margin-right: 1.2rem;
}

.task-extra-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.start-btn {
  background-color: var(--green);
}

.pause-btn {
  background-color: var(--orange);
}

.delete-btn {
  background-color: var(--red);
  color: var(--text-color);
}

.not-started {
  background-color: var(--base-accent-dark);
}

.in-progress {
  background-color: var(--orange);
  color: #353535;
}

.paused {
  outline: red 2px solid;
}

.finished {
  background-color: var(--green);
  color: #353535;
}

button:hover {
  opacity: 0.9;
}

.theme-toggle {
  position: fixed;
  z-index: 99;
  bottom: 2vw;
  right: 2vw;
  width: 4.5rem;
  height: 4.5rem;
  padding: 0;
  background-color: var(--base-accent-dark);
  outline: 4px solid var(--base-accent-light);
}

.theme-toggle svg {
  margin-top: 0.55rem;
}

.dark-mode:hover {
  opacity: 1;
  filter: brightness(1.75);
}

.light-mode:hover {
  opacity: 1;
  filter: brightness(0.8);
}

.mobile-warning {
  /* display: none; */
  opacity: 0;
  position: fixed;
  z-index: 1;
  background-color: red;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////// */

@media (max-width: 1050px) {
  .mobile-warning {
    /* display: none; */
    opacity: 1;
    position: fixed;
    z-index: 1;
    background-color: red;
    width: 100%;
    height: 20%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
}
